.text-box {
  @include column-flexbox();
  width: inherit;
  height: 100%;

  text-align: center;

  & .name {
    @include text-style(9.6, 700, $primary-700);
    margin-bottom: 1rem;
  }

  .job-line {
    @include text-style(2.4, 600, $point-orange);
    @include flexbox();
    gap: 2rem;
  }
}

@include responsive("T") {
  .text-box {
    & .name {
      @include text-style(7, 700, $primary-700);
      white-space: nowrap;
    }

    & .job-line {
      @include text-style(2, 500, $point-orange);
      gap: 1rem;
    }
  }
}

html[data-theme="dark"] .name {
  color: $primary-300;
}
