.header {
  @include flexbox(between);
  width: 100%;
  padding: 0 2rem;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: $header-z-index;
  box-shadow: 0px 2px 5px rgba($primary-300, $alpha: 0.3);
}

.header-wrapper {
  @include flexbox(between);
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
}
.goHome {
  padding: 1rem 0;
}
.header-right {
  @include flexbox(end);
}
.nav {
  @include flexbox(start);
  position: relative;
}
.hamburger {
  display: none;
  margin-left: 1.6rem;
  gap: 0.3rem;
  width: 1.6rem;

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    .line {
      transform-origin: center;
    }
    .line:nth-child(1) {
      transform: translateY(0.5rem) rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      transform: translateY(-0.5rem) rotate(-45deg);
    }
  }
}

.line {
  width: 100%; // 필요 시 고정값으로 바꿔도 됨 (예: 1.2rem)
  height: 0.2rem;
  background-color: $primary;
  display: block;
  // border-radius: 10rem;
  transform-origin: right;
  transition: all 0.3s ease-in-out;

  // 우측 정렬 명시 (필요할 경우)
  align-self: flex-end;

  &:first-child {
    transform: scale(0.7, 1);
  }

  &:nth-child(2) {
    transform: scale(1, 1);
  }

  &:last-child {
    transform: scale(0.5, 1);
  }
}

.nav-list {
  @include flexbox(end);
  gap: 1rem;
}
.nav-item {
  position: relative;
}
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  // transform:  translateX(0);
  height: 0.2rem;
  background-color: $primary-400;
  transition: all 0.3s;
}

.nav-item:hover::after {
  width: 100%;
  // transform: scaleX(1);
}

.nav-item > a {
  @include text-style(1.8, 500);
  padding: 1.6rem;
}

.nav-item:hover a {
  @include text-style(1.8, 500, $primary-700);
}

body[data-theme="dark"] .header {
  box-shadow: 0px 2px 5px rgba($primary, $alpha: 0.3);

  & .logo svg path {
    fill: $point-orange;
    //  filter:brightness(10);
  }

  & .nav-item > a {
    color: $background-white;
  }
  & .nav-item:hover > a {
    @include text-style(1.8, 500, $primary-300);
  }

  & .hamburger .line {
    background-color: $background-white;
  }
}

@include responsive("T") {
  .nav-list {
    gap: 0.8rem;
  }
  .nav-item > a {
    padding: 1rem;
  }
}
@include responsive("M") {
  .nav-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    flex-wrap: wrap;
    top: 4rem;
    right: -5rem;
    padding: 1rem 2rem;
    transition: all 0.5s;
    justify-content: center;
  }

  .nav-list.show {
    opacity: 1;
    visibility: visible;
    width: fit-content;
    height: auto;
    right: -2rem;
    background-color: $primary-200;
    // background-color: pink;

    // display: inline-block;
  }
  .hamburger {
    @include column-flexbox(end, end);
  }
  body[data-theme="dark"] {
    .nav-list {
      background-color: $primary;
    }
  }
}
