.card {
  @include column-flexbox(start, start);
  position: relative;
  width: 100%;
  // min-width: 29rem;
  padding: 2rem;
  gap: 1rem;
  flex-shrink: 0;
  background-color: $card-backGround;
  aspect-ratio: 1.618/1;
  overflow: hidden;

  &-emoji-box {
    font-size: 3.2rem;
    height: 5rem; // min-height: 3.7rem;
    width: 100%;
    text-align: center;
    align-self: stretch;

    &.isModal {
      font-size: 6rem;
    }
  }

  &-text-box {
    @include column-flexbox(end, start);
    align-self: stretch;
    gap: 1rem;
    &-writer {
      @include text-style(2, 600, $primary-700);
    }

    &-feedback {
      @include text-style(1.6, 400, $primary-700);
      text-align: start;
      white-space: wrap;
      word-break: keep-all;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      &.isModal {
        overflow: visible;
        display: inline-block;
        line-height: 1.6;
        font-size: 1.8rem;
        font-weight: 500;
      }

      @include responsive("M") {
        overflow: visible;
        display: inline-block;
      }
    }
  }

  &-date {
    @include text-style(1.4, 400, $primary-400);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  @include responsive("M") {
    height: fit-content;
    aspect-ratio: auto;
    pointer-events: none;
  }
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 1rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 99rem;
  background-color: $primary-700;
}

.card::before {
  left: 1rem;
}
.card::after {
  right: 1rem;
}

.none-emoji {
  & .card-text-box {
    margin-top: 4rem;
  }
}
