.box {
  @include flexbox();
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 1.6rem;
  transition: transform 0.3s ease;

  @include responsive("M") {
    gap: 0.8rem;
    padding: 0.8rem;
  }

  // background-color: $primary-200;
  & .img-box {
    position: relative;
    width: 5rem;
    height: 5rem;

    @include responsive("T") {
      width: 3rem;
      height: 3rem;
    }

    @include responsive("M") {
      width: 2rem;
      height: 2rem;
    }
  }
  & img {
    object-fit: contain;
  }

  &.selected {
    transform: translateY(-20%);
    @include column-flexbox();
    & .img-box {
      width: 10rem;
      height: 10rem;

      @include responsive("T") {
        width: 5rem;
        height: 5rem;
      }
    }
    & .description {
      display: block;
    }
  }

  &:hover .name {
    color: $point-orange;
  }
}

.name {
  @include text-style(1.8, 600);
  @include responsive(T) {
    @include text-style(1.6, 500);
  }
}

.description {
  @include text-style(1.4);
  min-width: 30rem;
  white-space: nowrap;
  display: none;

  @include responsive("M") {
    white-space: wrap;
    word-break: keep-all;
    min-width: none;
  }
}
html[data-theme="dark"] body {
  .name,
  .description {
    color: $background-white;
  }

  .img-box {
  }
}
