.box {
  @include flexbox();
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 1.6rem;

  @include responsive("M") {
    gap: 0.8rem;
    padding: 0.8rem;
  }

  // background-color: $primary-200;
  & .img-box {
    position: relative;
    width: 5rem;
    height: 5rem;

    @include responsive("T") {
      width: 3rem;
      height: 3rem;
    }

    @include responsive("M") {
      width: 2rem;
      height: 2rem;
    }
  }
  & img {
    object-fit: contain;
  }

  &.selected {
    position: relative;
    transition: transform 0.3s ease;
    pointer-events: none;

    left: 50%;
    transform: translate(-50%, -20%);
    filter: drop-shadow(0 0 5px rgb(162, 255, 187))
      drop-shadow(0 0 15px rgba(162, 255, 187, 0.8))
      drop-shadow(0 0 45px rgba(162, 255, 187, 0.7));
    @include column-flexbox();
    & .img-box {
      width: 10rem;
      height: 10rem;

      @include responsive("T") {
        width: 5rem;
        height: 5rem;
      }
    }
    & .description {
      display: block;
    }

    &:hover {
      .name {
        color: $text-black;
      }
    }
  }

  &:hover {
    // filter: drop-shadow(0 0 5px rgb(162, 255, 187))
    //   drop-shadow(0 0 15px rgba(162, 255, 187, 0.8))
    //   drop-shadow(0 0 45px rgba(162, 255, 187, 0.7));
    .name {
      color: $point-orange;
    }
  }
}

.name {
  @include text-style(1.8, 600);
  @include responsive(T) {
    @include text-style(1.6, 500);
  }
}

.description {
  @include text-style(1.4);
  min-width: 30rem;
  white-space: nowrap;
  display: none;

  @include responsive("M") {
    white-space: wrap;
    word-break: keep-all;
    min-width: none;
  }
}
html[data-theme="dark"] body {
  .name,
  .description {
    color: $background-white;
  }
  .selected {
    filter: drop-shadow(0 0 5px rgba(67, 136, 88, 1))
      drop-shadow(0 0 15px rgba(67, 136, 88, 0.8))
      drop-shadow(0 0 45px rgba(67, 136, 88, 0.7));
    &:hover {
      .name {
        color: $background-white;
      }
    }
  }

  .img-box {
  }
}
