.textarea-field {
  @include flexbox(start);
  width: 100%;
  gap: 1rem;
}

.textarea {
  @include text-style(1.6, 400, $primary-800);
  width: 100%;
  padding: 1.6rem 2rem;
  background-color: $primary-200;
  border-radius: 1.3rem;
  min-height: 15rem;
  resize: none;

  &:focus {
    outline: 1px solid $primary-800;
  }

  &:disabled {
    opacity: 0.4;
  }

  &.error {
    border: 1px solid $point-orange;
  }
}

.error-message {
  @include text-style(1.4, solid, $point-orange);
}

body[data-theme="dark"] .textarea {
  background-color: $primary;
  color: $primary-200;
  &:focus {
    outline: 1px solid $primary-300;
  }
}
