.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.full-section {
  width: 100%;
  height: 100vh;
  padding: 6rem 2rem;
  overflow-y: scroll;
}
.full-section::-webkit-scrollbar {
  display: none;
}

.full-section:first-child,
.full-section:last-child {
  padding: 0;
}
