$background-white: #F5F7F2;
$text-black:#333;

$primary: #4A5048;


$primary-200: #E8EFE7;
$primary-300: #C6D1C3;
$primary-400: #97A397;
$primary-600: #425744;
$primary-700: #2F4834;
$primary-800: #1E3B25;
$primary-900: #10301B;

$point-orange:#E95026;