.projects-list {
  @include flexbox();
  width: 100%;
  flex: wrap;
}
.list-item {
}

:global(.swiper-container),
:global(.swiper),
:global(.swiper-wrapper) {
  width: 94%;
  max-width: 120rem;
  height: 100%;
}

:global(.swiper-slide) {
  transform: translate(50%);
}

:global(.swiper-slide-active) {
  z-index: 3 !important;
}
body[data-theme="dark"] {
  .list-item {
    color: $primary-200;
  }
}
