.project-slide-wrapper {
  @include flexbox();
  height: calc(100% - 38rem);
  margin-top: 15rem;
  @include responsive("M") {
    margin-top: 18rem;
  }
}

.btn-line {
  @include flexbox(end);

  margin: 2rem auto;
  width: 100%;
  max-width: 140rem;

  & .button {
    padding: 0.4rem;
    background-color: $primary-200;
    cursor: pointer;
  }
}

.list {
  @include flexbox(start);
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding-bottom: 15rem;
  height: calc(100% - 38rem);
  overflow-y: scroll;

  @include responsive("T") {
  }
}
