.card-list {
  @include flexbox(start, start);
  flex-wrap: wrap;
  gap: 2rem 2rem;
  width: 100%;
  height: auto;
  max-width: 140rem;
  margin: 0 auto;
  overflow-y: scroll;
  // box-shadow: inset 0px -10rem 10px rgba($color: $text-black, $alpha: 1);

  &::-webkit-scrollbar {
    //display: none;
  }
}

.card-box {
  width: calc(25% - 3rem);
  height: auto;
}

@include responsive("T") {
  .card-box {
    width: calc(50% - 1rem);
  }
}
