.list {
  @include pos-center();
  width: 100%;
  max-width: 140rem;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;

  .item {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:first-child {
      @include flexbox();
      margin: 0 auto 8rem;

      @include responsive("M") {
        width: 100%;
        margin: 0 auto 3rem;
      }
    }
  }
}
